<template>
  <div class="h-full flex flex-col">
    <div class="flex items-center p-5 gap-5 grow">
      <SearchInput class="m-0" />
      <CategoriesDropDown />
    </div>
    <CoinListTable />
  </div>
</template>

<script setup lang="ts"></script>

<style scoped></style>
